<%- include('header') %>
<h1>Meals</h1>
<ul>
    <% meals.forEach(function(meal){ %>
        <li><%= meal.name %> - <%= meal.calories %> kcal</li>
    <% }) %>
</ul>
<h2>Add Meal</h2>
<form action="/meals/add" method="POST">
    <input type="text" name="name" placeholder="Meal name" required>
    <input type="number" name="calories" placeholder="Calories" required>
    <button type="submit">Add</button>
</form>
<%- include('footer') %>
